 .home {
     background-image: url('../images/orangetent.jpg');
     background-repeat: no-repeat;
     height: 100vh;
     background-size: auto;
     margin-block: 8px;
     /* background-color: yellowgreen; */
     text-align:center;
 }

 #intro {
     display: inline-block;
     position: "center"

 }

 nav {
     margin: 0 auto;
     margin-right: 0%;
     display: flex;
     justify-content: flex-end;
 }

 nav{
     list-style-type: none;
     display: flex;
     float: right;
 }

 nav>ul>li {
     margin-right: 0;
     text-transform: uppercase;
     display: inline;
     color: rgba(255, 255, 255, 0.733);
     padding: 10px;
 }
 a{
    text-decoration: none;
    /* color: white; */

 }

 nav>ul>li>a:hover {
    border: 2px rgb(19, 230, 159);
    background-color: rgb(7, 123, 168);
    transition-duration: 2s;
    border-radius: 3px;
 }
 #services {
     background-image: url("../images/bestOffers.jpg");
    height: 100vh;
 }
 #aboutUs img{
     float: left;
     top: 3vh;
  
 }
#aboutUs{
    text-align: center;
    bottom: 40vh;
    display: inline-block;
    align-items: center;
}
.story{
    text-align: center;
    font-size: 200%;
    color: cadetblue;
}
#social{
    display: inline-block;
}
#director{
    display: block;
    margin-right: auto;
    margin-left: auto;
}
/* #paragraph{
    color: darkblue;
} */

#extra{
    text-align: center;
}
     
